# Réécrit une URL de type xxx/yyy/zzz en index.php?controleur=xxx&action=yyy&id=zzz
RewriteEngine on
RewriteRule ^([a-zA-Z]*)$ index.php?controller=$1 [NC,L]
RewriteRule ^([a-zA-Z]*)/([a-zA-Z]*)$ index.php?controller=$1&action=$2 [NC,L]
RewriteRule ^([a-zA-Z]*)/([a-zA-Z]*)/([0-9]*)$ index.php?controller=$1&action=$2&category_id=$3 [NC,L]
RewriteRule ^([a-zA-Z]*)/([a-zA-Z]*)/([^/]*)/([0-9]*)$ index.php?controller=$1&action=$2&title=$3&catTopic=$4 [NC,L]
RewriteRule ^([a-zA-Z]*)/([a-zA-Z]*)/([^/]*)/([0-9]*)/([0-9]*)$ index.php?controller=$1&action=$2&title=$3&catTopic=$4&topic_id=$5 [NC,L]
