/* Slider syle */
#secondSlide{
    margin-top: 50px;
}
.img_fond{
    width: 50%;
}

#sliderId, #secondSlide{
    position: relative;
    margin-bottom: -3px;
}

#sliderId p{
    margin:0;
}

.slideImg, .slideTxt{
    width: 50%;
    position: absolute;
    top:0;
}
#secondSlide .rightArrow, #secondSlide .leftArrow, #secondSlide .slide p{
    display: none;
}
.slideTxt{
    text-align: center;
    width: 40%;
    font-size: 1.5em;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
}

.slide{
    opacity: 0;
    transition: 1s;
}

.visible{
    opacity: 1;
    transition: 1s;
}

.rightArrow, .leftArrow{
    position: absolute;
    border: 3px solid rgb(49, 72, 103);
    color :rgb(241, 34, 62);
    top: 50%;
    transform: translateY(-50%);
    z-index:1
}

.rightArrow{
    right: 0px;
    border-right: none;
    padding : 10px 0px 10px 10px;
    border-radius: 50px 0px 0px 50px;
}

.leftArrow{
    left: 0px;
    border-left : none;
    padding : 10px 10px 10px 0px;
    border-radius: 0px 50px 50px 0px;
}

#playPauseButton{
    position: absolute;
    left : 51%;
    bottom : 20px;
    padding : 10px;
    z-index: 1;
    border: 3px solid rgb(49, 72, 103);
    border-radius: 30px;
    color :rgb(241, 34, 62);
}